@using Cinema.gui.Models
@model List<Movie>
@{
    ViewBag.Title = "Filmy";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container">
  <br />
  <br />
  <table class="table table-hover table-responsive">
    <thead>
        <tr class="row">
            <th class="col-2">Tytuł</th>
            <th class="col-5">Opis</th>
            <th class="col-1">Kategoria</th>
            <th class="col-1">Kraj</th>
            <th class="col-1">Rok produkcji</th>
            <th colspan="2" class="add-button col-2">@Html.ActionLink("Dodaj film", "AddMovie", "Movie", new { @class = "btn btn-primary btn-block btn-sm pull-right" }) </th>
        </tr>
    </thead>
    <tbody class="list-body">
        @foreach (var movie in Model)
        {
            @Html.Hidden("Id", movie.Id)
            <tr class="row">
                <td class="col-2">@movie.MovieTitle</td>
                <td class="col-5">@movie.MovieDescription</td>
                <td class="col-1">@movie.CategoryName</td>
                <td class="col-1">@movie.Country</td>
                <td class="col-1">@movie.YearOfProduction</td>
                <td class="col-1">@Html.ActionLink("Edytuj", "EditMovie", movie, new { @class = "btn btn-primary btn-block btn-sm pull-right" }) </td>
                <td class="col-1">@Html.ActionLink("Usuń", "DeleteMovie", movie, new { @class = "btn btn-primary btn-block btn-sm pull-right" }) </td>
            </tr>
        }
    </tbody>
</table>
</div>

